<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
         <title>Sudoku Solver</title>
        <meta name="description" content="A Javascript implementation of a Sudoku puzzle with a backtracking algorithm.">
        <script src="jquery-2.0.3.min.js"></script>
        <script src="singleton.sudoku.js"></script>
        <script src="timer.js"></script>
		<link rel="stylesheet" href="game.css">
    </head>
	<body>
		<script type="text/javascript">
		$( document ).ready( function() {
			var game = Sudoku.getInstance();
			$( '#container').append( game.getGameBoard() );

			$( '#solve').click( function() {
				game.solve();
			} );
			$( '#validate').click( function() {
				game.validate();
			} );
			$( '#reset').click( function() {
				game.reset();
			} );
			$( '#hint').click( function() {
				game.hint();
			});
			$( '#generate').click( function() {
				game.generate();
			});
		} );
		</script>
		<h1>Sudoku Solver</h1>
		<div id="container"></div>
		<div id="menu" class="sudoku-menu">
			<button id="solve">Solve</button>
			<button id="validate">Validate Board</button>
			<button id="reset">Reset</button>
			<button id="hint">Hint</button>
			<button id="generate">Generate Puzzle</button>
		</div>
        <p class="timer"><span id="seconds">00</span>:<span id="tens">00</span></p>
        <div class="wrapper">
            <button id="button-start">Start</button>
            <button id="button-stop">Stop</button>
            <button id="button-reset">Reset</button>
        </div>
	</body>
</html>